a,
button {
  border: 0;
  border-radius: 5px;
  padding: 0.35rem 1.5rem 0.5rem;
  background-color: gray;
  color: #ffffff;
  text-decoration: none;
}

.App {
  padding: 2.5rem 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.input-container > * {
  margin-right: 0.5rem; 
}

.link-container {
  margin-top: 3rem;
}